project_id = "tu-project-id-de-gcp"

region = "us-central1"
zone   = "us-central1-a"

ssh_user             = "ubuntu"
ssh_public_key_path   = "~/.ssh/academix_lab.pub"

allowed_ssh_cidrs         = ["0.0.0.0/0"]
allowed_http_cidrs        = ["0.0.0.0/0"]
allowed_k3s_api_cidrs     = ["0.0.0.0/0"]
telemetry_ports           = ["3000", "9090", "9100"]
telemetry_cidrs           = ["0.0.0.0/0"]

machine_type_desarrollo      = "e2-medium"
machine_type_k3s             = "e2-standard-2"
machine_type_base_de_datos   = "e2-medium"

dns_zone_name      = "yo-usac-com"
hostname_desarrollo = "academixdev"
hostname_k3s        = "academixk3s"
dns_ttl             = 60
create_dns_records  = true
